*.gcov
*.log
*.o
*.so
*.sql3
*.swo
*.swp
*.trs
*~
build-aux/
.DS_Store
.deps
.dirstamp
aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
missing
Makefile
Makefile.in
_deps
a.out
config.h
config.h.in
config.log
config.status
stamp-h1
stand
test-program.cpp
test_be13api
tests/Makefile
*.info
*.gcda
*.gcno
out/
test_be13api_catch2
ar-lib
test-driver
config.guess
config.sub
test_be13_api
*.d
*.zip
x.cpp
TAGS
*.tar.gz
