# Build inside a FreeBSD VM inside the macos VM
# https://github.com/vmactions/freebsd-vm
#
# This takes 40 minutes to run. So now that it works,
# it is set up to only run weekly if a change has occured.
#
# See: https://github.community/t/how-to-trigger-workflow-run-once-a-week-if-push-has-occurred/18124


name: BE13_API CI (c++17) on FreeBSD
# on: [push]
on:
  schedule:
    - cron: '0 0 * * 0'         # Every sunday at midnight

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Create cache file
        run: |
          mkdir check-SHA
          echo ${{ github.sha }} > github-sha.txt

      - name: Check SHA
        id: check_sha
        uses: actions/cache@v1
        with:
          path: check-SHA
          key: check-SHA-${{ github.sha }}

      - name: Some subsequent steps
        if: steps.check_sha.outputs.cache-hit != 'true'
        run: echo "Execute the subsequent steps because the SHA changed"

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: make check on FreeBSD
        uses: vmactions/freebsd-vm@v0.1.4
        with:
          usesh: true
          prepare: pkg install -y libtool libltdl automake openssl-devel pkgconf bash wget texinfo
          mem: 2048
          run: |
            wget https://ftpmirror.gnu.org/autoconf/autoconf-2.71.tar.gz
            tar xfz autoconf-2.71.tar.gz && cd autoconf-2.71 && ./configure && make && make install
            autoconf --version
            automake --version
            echo ==================================================
            echo ==================================================
            echo ls -l:
              ls -l
              echo pwd
              pwd
              echo ==================================================
              bash bootstrap.sh
              ./configure
              make check

              - name: Save failures report
                if:   failure()
                uses: actions/upload-artifact@v2
                with:
                  name: freebsd-error-report
                  path: |
                    autom4te.cache/**
                    config.log
                    config.h
                    test*.log

                    - uses: ammaraskar/gcc-problem-matcher@0.1
                      name: GCC Problem Matcher
